// 全局样式
.table-wrap {
	.table-wrap .v-table-views {
		border: 1px solid red
	}
}
.v-table-class{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.v-table-body-cell {
	height:28px !important;
	line-height: 28px !important;
}
.horizontal-border {
  border-bottom-width: 0px !important; 
}
.v-table-title-cell {
	border-color: #FFFFFF !important;
	font-weight: bold;
}
.v-table-body-cell {
	border-color: #FFFFFF !important;
}



/* .v-page-total {
	display: none !important;
}
.v-page-select {
		display: none !important;
} */